@import "./custom.scss";

.adminAddBooks{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.842)),url('../img/background.jpeg');
  min-height: 700px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
    .card{
      height: 650px;
      margin-top: 5%;
      border-radius: 20px;
    }
    .modal-trigger{
      width: 10px;
    }
    h4{
      text-align: center;
      color: white;
      font-family: $fontFamily;
      font-size: 40px;
    }
    button{
      float: right;
      margin-right: 15px;
    }
    .file{
      width: 5px;
      margin-left: 10px;
    }
    .previewBtn{
      float: right !important;
      width: 100px!important;
    }
    .previewBtn:focus{
      background-color: $primaryColor2;
      color: white;
    }
    span{
      margin-left: -10px;
    }
    .modal{
      width: 300px;
      height: 400px;
      overflow: hidden;
      img{
        width: 250px;
        height: 300px;
      }
      .close{
        margin-top: 3%;
        margin-right: 3%;
        background-color: $primaryColor2;
        color: white;
        border-radius: 10px;
      }
    }
    .page-footer{
      text-align: center;
      color: white;
      height: 50px;
      left: 0;
      bottom: 0;
      width: 100%;
      overflow: hidden;
      position: fixed;
      z-index: 4;
    }
  }
  
  