@import "./custom.scss";

.adminDashboard{
    .initial{
      margin-top: 5%;
      margin-left: 30%;
    }
    .card{
      height: 200px;
      .card-action{
        background-color: teal;
      }
      .card-title{
        font-family: $fontFamily;
        text-align: center;
      }
      p{
        text-align: center;
        font-family: $fontFamily2;
        font-size: 20px;
      }
      .cardAction{
        cursor: pointer;
      }
    }
  }