@import "./custom.scss";

.profile {
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.842)),url('../img/background.jpeg');
  min-height: 700px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  h4{
    text-align: center;
    color: white;
  }
    .card{
      margin-top: 40px;
      }
      .profileDetails{
        font-size: 20px;
        padding-top: 30px;
        font-family: $fontFamily
        }
      .btn{
        width: 30%;
        margin-right: 5000px; 
        }
      hr { 
       width:300px;
       text-align: center;
      } 
      .modal{
        width: 400px!important;
        height: 300px!important;
        overflow-x: hidden;
        .passwordButton{
          background-color: teal;
          float: left;
          margin-left: 3%;
          color: white;
          border-radius: 10px;
        }
        .passwordCButton{
          margin-right: 3%;
          background-color: red;
          color: white;
          border-radius: 10px;
        }
      }
      .page-footer{
        text-align: center;
        color: white;
        height: 50px;
        left: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        position: fixed;
        z-index: 4;
      }
   }