@import "./custom.scss";

.signIn{
    padding-top: 40px;
    flex: 1 0 auto;
    background-image: url('../img/background.jpeg');
    min-height: 800px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    .bodyNavigation{
      margin-top:-40px;
    }
    .card{
      background-color: white;
      margin-top: 50px;
      height: 400px;
      button{
        float: right;
      }
      hr{
        margin-top: 30px;
        width: 50%;
      }
      }
    .account{
      margin-top: 50px;
      margin-left: 10px;
    }
  }